.body {
    background-color: grey;
}

.controlpanel {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #413e3e;
    height: 10%;
}

.controlpanel__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
}

.controlpanel__image--one {
    padding-left: 1%;
    padding-right: 1%;
}

.controlpanel__image--two {
    padding-left: 1%;
    padding-right: 1%;
}

.controlpanel__image--three {
    padding-left: 1%;
    padding-right: 1%;
}

.range {
    display: flex;
    justify-content: flex-end;
}

#song {
    z-index: 100;
}