.body {
    background-color: grey;
}

.sidenav{
    display: flex;
    position: fixed;
    height: 100%;
    width: 15%;
    background-color:  #413e3e;
    top: 0;
    left: 0;
    border-right: 1px solid silver;
}
.sidenav__button--switcher--cont{
    display: flex;
    justify-content: flex-end;
}
.sidenav__button--switcher{
    font-size: 15px;
    letter-spacing: 2px;
    color:rgb(255, 217, 3);
    text-align: center;
    border: 1px solid rgb(255, 85, 6);
    border-radius:50px;
    background-color: #413e3e;
}
.sidenav__title{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 28px;
    color: black;
    padding: 10px;
}
.sidenav__item{
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    color:black;
    padding: 10px;
}
.sidenav__button--cont{
    display: flex;
    justify-content: center;
}
.sidenav__button--item {
    font-size: 15px;
    letter-spacing: 2px;
    color:rgb(255, 217, 3);
    text-align: center;
    border: 1px solid rgb(255, 85, 6);
    border-radius:50px;
    background-color: #413e3e;
    
}
.thumbnail{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: space-around;

}
.controlpanel {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #413e3e;
    height: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-top:1px solid silver;
}

.controlpanel__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    position: sticky;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

.controlpanel__image--one {
    padding-left: 1%;
    padding-right: 1%;
}

.controlpanel__image--two {
    padding-left: 1%;
    padding-right: 1%;
}

.controlpanel__image--three {
    padding-left: 1%;
    padding-right: 1%;
}

.controlpanel__text{
    position: fixed;
    display: flex;
margin: 1%;
}
.song__artist{
    padding-left: 20px;
    padding-right: 20px;
}

.progressBar{
	width:50%; 
	border:2px solid black;
	border-radius:20px;
    position: absolute;
    top:80%;
    left:50%;
    height: 10px;
    -webkit-transform:translate(-50%, -50%);
    transform:(-50%, -50%) ;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0.527);
}
.progressBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    margin-top: -3px;
    margin-left: 0px;
    height: 10px;
    width: 10px;
    border: 0;
    background: -webkit-linear-gradient(45deg,  rgb(255, 217, 3), rgb(255, 85, 6));
    border-radius: 30px;
    cursor: pointer;
}
.progressBar::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    max-height: 5px;
    border-radius: 30px;
}
.progressBar:focus{
    outline: none;
}
#song {
    z-index: 100;
}

.song__title{
    z-index: 10;
}
.currentTime{
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: -27%;
    left: 20%;
    font-size: 13px;
    color: white;
}
.durationTime{
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: -27%;
    right: 17%;
    font-size: 13px;
    color: rgb(255, 217, 3)
}
.navigation{
display: flex;
justify-content: center;
}
.search{
    display: flex;
    justify-content: center;    /* top: 2%;
    right: 2%; */
}
.search__bar{
    border: 3px solid rgb(255, 217, 3);
}
.search__button{
    width: 40px;
    height: 36px;
    border: 1px solid rgb(255, 217, 3);
    background: rgb(255, 217, 3);
    color: white;
    cursor: pointer;
    font-size: 30px;

}
.search__i{
    color: rgb(255, 85, 6);
}
.musiclist{
    display: flex;
    justify-content: center;


}
.musiclist__list{
    background-color: #413e3e;
   width: 70vw;
   top: 2%;
   border-right: 1px solid silver;
   border-left: 1px solid silver;
   border-bottom: 1px solid silver;
}
.musiclist__info{
display: flex;
margin: 2%;
border-top: solid 1px silver;  
border-bottom: 1px solid silver;
}

.musiclist__image{
    width: 50px;
    height: 50px;
}
.musiclist__name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;

}
/* .musiclist__artist{

}
.musiclist__title{

} */
.musiclist__image--photo{
    width: 50px;
    height: 50px;
}
.musiclist--title{
    display: flex;
    justify-content: center;
}
.musiclist__playlist{
    width: 50px;
    height: 50px;
}
#volume{
    width:100px; 
	border:2px solid black;
	border-radius:20px;
    position: absolute;
    top:80%;
    left:88%;
    height: 10px;
    -webkit-transform:translate(-50%, -50%);
    transform:(-50%, -50%) ;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0.527);
}
#volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    margin-top: -3px;
    margin-left: 0px;
    height: 10px;
    width: 10px;
    border: 0;
    background: -webkit-linear-gradient(45deg,  rgb(255, 217, 3), rgb(255, 85, 6));
    border-radius: 30px;
    cursor: pointer;
}
.volume::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    max-height: 5px;
    border-radius: 30px;
}
/* Na samym divie działa zmiana koloru idk dlaczego nie dziala po zrobieniu serca */
.song__heart {
    /* background: rgb(255, 0, 0);
    color: white;
    position: relative; 
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 0;
    width: 30px; */
    height: 50px;
    width: 50px;
    background: rgb(214, 226, 43);

  }
  
  
.song__heart--fill{
    background: rgb(0, 255, 34);
    
  }
/*   
  .song__heart:before,
  .song__heart:after {
    content: "";
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
  }
  
  .song__heart:before {
    top: -15px;
    left: 0;
  }
  
  .song__heart:after {
    left: 15px;
    top: 0;
  } */


  @media (max-width: 600px){
      .body{
          background-color: blueviolet;
      }

      /* .controlpanel__text{
          display: none;
      } */
      .thumbnail{
          display: none;
      }
      .progressBar{
          left: 40%;
      }
      .currentTime{
          left: 10%;
      }
      .durationTime{
          right: 25%;
      }
      #volume{
          left: 83%;
      }
    }

    @media (max-width:1100px){

        .musiclist__list{
            width: 100vw;
        }
        .sidenav{
            display: none;
            width: 50%;
        }
        .sidenav--visible{
            display: block;
            
        }
        .body{
            margin-top: 0;
        }
    }
    @media (min-width:1101px){
        .sidenav__button--switcher{
            display: none;
        }
    }
